#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 15vh;
}

.container2 {
  border: 3px solid #000;
  border-radius: 10px;
  width: 60vw;
  padding: 2vh 0.5vw 1vh;
  background-color: white;
  filter: drop-shadow(10px 10px 4px #000000);
}

.formheader h2{
  font-size: 3vw; 
  line-break:unset;
  font-weight: 700;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
.formheader h3{
  font-size: 2vw; 
  line-break:unset;
  font-weight: 700;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
#contactForm .form-control {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
}


#contactForm textarea {
  resize: none;
  width: 80%; 
  height: 20vh; 
}

footer {
  color: rgb(0, 0, 0);
  padding-left: 6vw;   
}
