#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container2 {
  border: 3px solid #000;
  border-radius: 10px;
  width: 60vw; /* Adjust as needed */
  padding: 2vh 0.5vw 1vh; /* Adjust as needed */
  background-color: white;
  filter: drop-shadow(10px 10px 4px #000000);
}

.formheader h2{
  font-size: 3vw; /* Adjust as needed */
  line-break:unset;
  font-weight: 700;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
.formheader h3{
  font-size: 2vw; /* Adjust as needed */
  line-break:unset;
  font-weight: 700;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
#contactForm .form-control {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Adjust as needed */
}


#contactForm textarea {
  resize: none;
  width: 80%; /* Adjust as needed */
  height: 20vh; /* Adjust as needed */
}

#copyright {
  color: white;
}

.quicklinks {
  padding-left: 20px; /* Adjust this value to move the quicklinks to the right */
}