#parentcard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows the cards to wrap to the next line if there isn't enough space */
}

.card {
    font-size: 1.5rem;
    max-width: 60vw;
    width: 43vw;
    font-weight: normal;
    margin: 10px; /* Adds some space around each card */
    border: 3px solid #ffffff;
    box-sizing: border-box; /* Makes sure the width includes the border and padding */
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
}
#apply {
    border: #ffffff 1px solid;
}
.card-title {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    text-align: center;
    margin-bottom: 0.25em;
}
.card-text li {
    list-style-type: none;
    padding: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-item iframe {
    width: 800px; /* Adjust this value according to your needs */
    height: 385px; /* Adjust this value according to your needs */
}

footer {
    color: rgb(255, 255, 255);
    padding-left: 6vw;
}