.masthead {
  height: 60vh;
  background-color: rgba(19,31,56,255);
  color: #ffffff;
  position: relative;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
}

#background-image{
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 0;
  z-index: 1;

  left: 0;
}

.header{
  display: flex;
}

  .intro-lead-in {
    text-align: center;
    font-size: 6rem;
    line-break:unset;
    font-weight: 700;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    text-shadow: 6px 6px 3px rgb(0, 0, 0);
    margin-bottom: 0.25em;
  }
  .intro-heading {
    text-align: center;
    font-size: 6vh;
    font-weight: 700;
    text-shadow: 6px 6px 3px rgb(0, 0, 0); 
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    margin-bottom: 0.25em;
  }
  .intro-text {
    align-items: center;
    justify-content: center;
    padding: 2vw;
    border-radius: 6px;
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
  }
  

  #learn {
    
    margin-top: 1vh;
    border: #fff 1px solid;
    z-index: 2;

  }
  
  h2 {
    font-size: 5vh;
    font-weight: 700;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    margin-bottom: 0.25em;
  }
  
  h3 {
    font-size: 3vh;
    font-weight: 700;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    margin-bottom: 0.25em;
  }
