.masthead {
    background-image: url('backg.webp');
    background-size: auto;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff; /* Set text color to ensure readability */
  }
  .intro-lead-in {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    text-shadow: 6px 6px 3px rgb(0, 0, 0);
    margin-bottom: 0.25em;
  }
  .intro-heading {
    font-size: 4vh;
    font-weight: 700;
    text-shadow: 6px 6px 3px rgb(0, 0, 0);

    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    margin-bottom: 0.25em;
  }
  .intro-text {
    padding: 2vw;
    border-radius: 6px;
    
  }

  #learn {
    margin-top: 1vh;
    border: #fff 1px solid;
  }